h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: left;
    padding: 0%;
}

.header {
    display: flex;
    height: 500px;
    background-color: #941567;
    padding-top: 0%;
    margin: 0%;
}

.header-text p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    text-align: justify;
}

.header-text {
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 10%;
    align-self: left;
    line-height: 20px;
}

img.profile-pic {
    object-fit: cover;
    margin-left: 0%;
    width: 375px;
    height: auto;
    border-radius: 0%;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  background-color: #5e023e;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
    color: #ffffff;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

nav a:hover {
  color: #fcacee;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #800254;
}

.aboutme-text {
    margin: 0%;
    padding-left: 10%;
    padding-right: 20%;
      padding-top: 5%;
      padding-bottom: 2%;
    background-color: #800254;
    line-height: 30px;
    color: #ffffff;

}
