
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
}

th, td {
    border: 1px solid #989898;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: #e7b8ec;
}

form {
    margin: 20px 0;
}

.header {
    height: 200px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    margin-top: 10px ;
}

img.header-pic {
    object-fit: cover;
    width: 100%;
    height: 200px;
    padding: 0%;
    margin: 0%;
    box-shadow: 0 0 10px #00000025;
    border-radius: 8px;
}

.form-container {
    margin-left: 20%;
    margin-right: 20%;
    
    background-color: #ffffff;
    box-shadow: 0 0 10px #00000025;
    border-radius: 8px;
}

.reservation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.reservation-form input, .reservation-form textarea, .room-type, .payment-method {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.reservation-form input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #941567;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6e7ff;
}

.form-container .reservation-details {
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.reservation-details p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}